body{
    background-color:rgb(184, 115, 136);
    font-family: 'PT Serif', serif;
    font-size: medium;
    
}
article{
    color: rgb(15, 15, 15);
    font-size:medium;
    font-weight:lighter;
    

}
article h3{
    font-style: italic;
    color: rgb(90, 23, 23);
}
footer p{
    font-size: medium;
    font-weight: lighter;
}
.cim{
    color:rgb(90, 23, 23);
    font-weight: bold;
}
header{
    grid-area: h;


}
header h1{
    text-align: center;
}
article{
    grid-area: a;
}
aside{
    padding: 10px;
    grid-area: as;
    border: solid black 2px;
    max-height: 200px;
    margin: 5px;
}
footer{
    grid-area: f;
}
nav ul li a {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
        
    
}
ul{
    list-style-type: none;
}

.aru{
    padding: 10px;
    max-width: 400px;
    border: solid black 2px;
   margin: 5px ;


}
.aru img{
    max-width: 100%;
    
}
#termekek{
    display:  grid;
grid-template-columns: 1fr 1fr;
}
main{
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-areas: "h h  h"
                         "a a as"
                         "f f f" ;
    
}
@media only screen and (max-width: 400px) {
    main{
        display: grid;
        grid-template-areas: "h"
        "as"
        "a"
        "f"
        ;
    }
    }