body{
    background-color:rgb(184, 115, 136);
    font-family: 'PT Serif', serif;
    font-size: medium;
    
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 10px;
    width: 100px;
}
nav ul li{
    padding-right: 15px;
}
article{
    color: rgb(3, 3, 3);
    font-size:medium;
    font-weight:lighter;
    

}
nav ul li a:hover{
    color: blueviolet;
}
article h3{
    font-style: italic;
    color: rgb(90, 23, 23);
}
footer p{
    font-size: medium;
    font-weight: lighter;
}
.cim{
    color:rgb(68, 13, 13);
    font-weight: bold;
}
header{
    grid-area: h;
}
header h1{
    text-align: center;
}
article{
    grid-area: a;
    
}
h1 { 
    text-align: center;
}
aside{
    padding: 10px;
    grid-area: as;
    border: solid rgb(63, 59, 59) 1px;
    max-height: 200px;
    margin: 5px;
}
footer{
    grid-area: f;
    color: rgb(41, 17, 17);
}
nav ul li a {
    padding: 0;
    margin: 0;
    text-decoration-style:none;
    color: rgb(58, 27, 27);
}
nav ul{
    list-style-type: none;
}
ul{
    list-style-type: none
}

.aru{
    padding: 10px;
    max-width: 400px;
    border: solid rgb(51, 48, 48) 1px;
    margin: 5px ;


}
.aru img{
    max-width: 100%;
    
}
#termekek{
    display:  grid;
    grid-template-columns: 1fr 1fr;
    
}
main{
   
    display: grid;
    grid-template-areas: "h h  h"
                         "a a as"
                         "f f f" ;
}
@media  screen and (max-width: 400px) {
    main{
        display: grid;
        grid-template-areas: "h"
                            "as"
                            "a"
                             "f"
        ;
    }
    #termekek{
        display:  grid;
        grid-template-columns: 1fr;
       
    }
    
    }